
body { 
	background-color: #aacccc ;
	-webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none;

}

.js .slider-for > div:nth-child(1n+2) { display: none }

.js .slider-for.slick-initialized > div:nth-child(1n+2) { display: block }
/*-------------------------------our client-------------------------------*/
.part6{
	background-color:white;
	width:100%;
}
.slider-nav{
    margin-top: 60px;
	width: 100%;

    
}
.sl{
	
	border:none;
}
.sl img{
    height:200px;
	width: 192px;
	margin-left: 25px;

}
.sl img:hover{
	transition: scale(1.1);
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

/*----------------------------------client words-----------------------------------*/
.words{
	width: 100%;
     height: 400px;
	margin-top:60px;
	
	padding:0px;
	background-color:#F8F4F1;
}
.slider-for{
 
   height: 250px;
   width: 60%;

}
.clientr{
	margin-top: 30px;
}
.clientw{
    text-align: center;
    font-weight: bold;
}

.topimg img{
	width: 270px;
	height:250px;
	float: right;
	margin-top: -95px;
	
	
}

.para{
	width: 600px;
	margin-top: 30px;
	
	margin-right: -30px;
}
.para p{
	
	width: 650px;
	height: 200px;
	text-align: center;
	font-size: 15px;
	color: gray;
	
	padding: 10px;
	padding-left: 80px;
	
}
/*-----------------------------left quote---------------------------*/
.le{
color:#E9AB17;
text-align: left;
float: left;
font-size: 29px;
padding-right: 10px;
}
/*---------------------------right quote----------------------------*/
.ri{
color:#E9AB17;
text-align: right;
float:right;
font-size: 29px;
}
.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color:black;
}


/*------------------------------------arrows-------------------------*/
.arrow_prev{
	position:absolute;
	top: 13%;
	left: 20%;

}

.arrow_prev span{
	font-size: 25px;
     color:grey;
	 display: block;
	 width: 20px;
	 height: 20px;
	 text-align: center;
	 line-height: 50px;
	 cursor: pointer;
}
.arrow_next{
	position:absolute;
	top: 13%;
	right: 19%;

}

.arrow_next span{
	font-size: 25px;
     color:grey;
	 display: block;
	 width: 12px;
	 height: 13px;
	 text-align: center;
	 line-height: 50px;
	 cursor: pointer;
}

@media (min-width: 1210px) and (max-width:1500px){
	.arrow_prev{
      left: 14%;

	}
	.arrow_next{
		right:13%;	
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  

	.arrow_next{
		position: absolute;
		top: 13%;
		right: 10%;
	}
	.arrow_prev{
		position: absolute;
		top: 13%;
		left: 10%;
	}


}

/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
	.sl img{
		margin-left: 0px;
		width: 240px;
		height: 210px;
		padding-left: 35px;
	}
	.arrow_next{
		
		top: 14%;
		right:7%;
	}

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	.sl img{
		margin-left: 0px;
		width: 240px;
		height: 210px;
		padding-left: 35px;
	}
	.arrow_prev{
        top: 14%;
		left:11%;
	}
	.arrow_next{
		
		top: 14%;
		right:8%;
	}
	.words{
		height: 350px;
	}
	.slider-for{
		height: 240px;
		width: 100%;

	
		
	}
	.topimg img{
		width: 90px;
		height: 90px;
	
	}
    .para{
		width:100%;
		height: 100px;
		margin-top: 0px;
		padding: 20px;
	}
	.para p{
		margin-top: 0px;
		padding: 20px;
		padding-top: 30px;
		font-size: 12px;
		
	}
	.le{
       font-size: 15px;
	   padding-right: 0px;
	}
	.ri{
       font-size: 15px;
	}
}

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (max-width: 768px) {  

	.sl img{
		margin-left: 0px;
		width: 240px;
		height: 210px;
		padding-left: 35px;
	}
	.arrow_prev{
        top: 14%;
		left:11%;
	}
	.arrow_next{
		
		top: 14%;
		right:8%;
	}
	.words{
		height: 350px;
	}
	.slider-for{
		height: 240px;
		width: 100%;

	
		
	}
	.topimg img{
		width: 90px;
		height: 90px;
	
	}
    .para{
		width:100%;
		height: 100px;
		margin-top: 0px;
		padding: 20px;
	}
	.para p{
		margin-top: 0px;
		padding: 20px;
		padding-top: 30px;
		font-size: 12px;
		
	}
	.le{
       font-size: 15px;
	   padding-right: 0px;
	}
	.ri{
       font-size: 15px;
	}
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (max-width: 540px) { 
	.sl img{
		margin-left: 0px;
		
		width: 200px;
		height: 170px;
	}
	.arrow_prev{
		top: 11%;
		left:10%;
	}
	.arrow_next{
		
		top: 11%;
		right:9%;
	}
	.words{
		height: 350px;
	}
	.slider-for{
		height: 240px;
		width: 100%;

	
		
	}
	.topimg img{
		width: 90px;
		height: 90px;
	
	}
    .para{
		width:100%;
		height: 100px;
		margin-top: 0px;
		padding: 20px;
	}
	.para p{
		margin-top: 0px;
		padding: 20px;
		padding-top: 30px;
		font-size: 12px;
		
	}
	.le{
       font-size: 15px;
	   padding-right: 0px;
	}
	.ri{
       font-size: 15px;
	}

  }
@media (max-width:420px) {
	.sl img{
		margin-left: 15px;
		width: 240px;
		height: 170px;
	}
	.arrow_prev{
		top: 11%;
		left:15%;
	}
	.arrow_next{
		
		top: 11%;
		right:20%;
	}
	.words{
		height: 350px;
	}
	.slider-for{
		height: 240px;
		width: 100%;

	
		
	}
	.topimg img{
		width: 90px;
		height: 90px;
	
	}
    .para{
		width:100%;
		height: 100px;
		margin-top: 0px;
		padding: 20px;
	}
	.para p{
		margin-top: 0px;
		padding: 20px;
		padding-top: 30px;
		font-size: 12px;
		
	}
	.le{
       font-size: 15px;
	   padding-right: 0px;
	}
	.ri{
       font-size: 15px;
	}
}

@media (max-width:376px){
	
	.sl img{
      margin-left: 0px;
	
	 
	 
	  width: 240px;
	  height: 170px;

	}
	.arrow_prev{
		top: 12%;
		left: 14%;
	}
	.arrow_next{
		
		top: 12%;
		right:15%;
	}
	.words{
		height: 350px;
	}
	.slider-for{
		height: 240px;
		width: 100%;

	
		
	}
	.topimg img{
		width: 90px;
		height: 90px;
	
	}
    .para{
		width:100%;
		height: 100px;
		margin-top: 0px;
		padding: 20px;
	}
	.para p{
		margin-top: 0px;
		padding: 20px;
		padding-top: 30px;
		font-size: 12px;
		
	}
	.le{
       font-size: 15px;
	}
	.ri{
       font-size: 15px;
	}
}

@media (max-width:320px){
	.sl img{
		padding-left: 20px;
	   margin-left: 0px;
		width: 200px;
		height: 170px;
  
	  
	  }
.arrow_prev{
	top: 12%;
	left: 11%;
}

	.arrow_next{
		
		top: 12%;
		right:15%;
	}
	.para{
		padding: 10px;
	}
	.para p{
		padding: 15px;
		font-size: 10px;
	}
}
@media (max-width:290px){
	.sl img{
		padding-left: 15px;
	}
	.arrow_next{
		right: 8%;
	}
	.para{
		padding: 10px;
	}
	.para p{
		font-size: 10px;
		padding: 15px;
	}
}