/*------------------------------------Style.css--------------*/
/*---------------logo-------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    -webkit-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none;
}
.logo{
    margin-top: 100px;
}
.logo img{
    width:50px;
    height: 50px;
}
/*----------------Heading------------------------------*/
.head{
    font-size:60px ;
    font-weight: bold;
    color:#F5DEB3;
   
}
/*----------------Our Mission------------------------------------*/
.mission{
    margin-top: 50px;
   
   
    
}
.missionH{
    padding-bottom: 25px;
}
.bold{
    font-weight: bold;
}
.para{
    color:gray;
}
/*----------------------Timeline--------------------------------------------*/
.part2{
    margin-bottom: 20px;
   
}
.menu::after{
    display: block;
    clear: both;
    content:'';
}
.First{
    height: 35px;
    width: 75px;
   padding-top:3px;
    background-color:#DBF9DB;
    border-radius: 5px;
    margin: 0 1px;
    list-style: none;
    color:black;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
   

}

.menu a.active{
    background-color:#64E986 ;
}
.target{
    display: none;
}
.active1{
    display: block;
}
.First:hover{
    background-color: #64E986;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: 1s;
    transform: scale(1.1);
}
.active{
    background-color: #90EE90;
}
.target p{
    color: grey;
}
.ims{
    
    margin: 0px;
    padding: 0px;
}
.ims img{
    margin: 0px;
    padding: 0px;
    background: white;
    background-blend-mode:screen;
    
   
}
/**********************************Part-3********************************************/

/*-------------------------------Video Panel & Text --------------------------------*/
.part3{
    background-image: url("images/bg2.png");
    height: auto;
    margin-bottom: 150px;
  
 
    
}
.panel{
    height:550px;
  /* background-color: #FFFAF0;*/
   margin: 1px;
   
  
}

/*.text{

    height: 550px;
}*/
.text1{
    color:#413839;
   
}
.text2{
    color: #413839;
}
.video{
    margin-left: 0px;
    padding-left: 0px;
}
.videoplay{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.btn-warning{

    color: white;
}

/*---------------------------our clients-----------------------*/
.logos{
    margin-top: 100px;
   

}
.logos img{
    width:50px;
    height: 50px;
}
.clienth{
    text-align: center;
    font-weight: bold;
}
/*------------------------------------------------------------------*/
/*------------------------Footer--------------*/
footer{

	height: auto;
	width: 100%;
	background-color:#F8F4F1;;
    /*display: flex;
	justify-content: space-between;
	flex-wrap: wrap;*/
    color: grey;
    margin-top: 150px;
 

}
.text-uppercase{
	color: black;
}